
<%= form_for(@user) do |f| %>

    <table width="60%" class="new_form">
      <tr>
        <th width="15%">   <%= f.label :account, 'Account' %></th>
        <td width="20%"> <%= f.text_field :account, disabled: true %></td>
        <td width='40%'> <%= @user.errors[:account][0] %></td>
      </tr>
      <tr>
        <th><%= f.label :name , 'User name' %></th>
        <td><%= f.text_field :name %></td>
        <td width='40%'> <%= @user.errors[:name][0] %></td>
      </tr>
      <tr>
        <th> <%= f.label :address, :Address	%></th>
        <td> <%= f.text_field :address %></td>
        <td width='40%'> <%= @user.errors[:address][0] %></td>
      </tr>
      <tr>
        <th> <%= f.label :group, 'Group' %></th>
        <td>
          <%= f.select :group, options_for_select([["admin", "admin"], ["company", "company"]],  @user.group) %>

          <%= if @user.group == "company"
                f.select :company_id, options_for_select(Company.get_all_company.collect{|c| [ c.name, c.id ]},@user.company.name)
              end
          %>

        </td>
        <td width='40%'> <%= @user.errors[:group][0] %></td>
      </tr>
      <tr>
        <th></th>
        <td> <%= f.submit 'Update', class: 'btn_small_blue'%> <%= f.submit 'Reset', type: :reset, class: 'btn_small_blue' %></td>
      </tr>
    </table>
<% end %>

