
<%= form_for(@user) do |f| %>

    <table width="60%" class="new_form">
      <tr>
        <th width="20%">   <%= f.label :account, 'Account' %></th>
        <td width="30%"> <%= f.text_field :account, disabled: true %></td>
        <td width='40%'> <%= @user.errors[:account][0] %></td>
      </tr>
      <tr>
        <th><%= f.label :name , 'User name' %></th>
        <td><%= f.text_field :name %></td>
        <td width='40%'> <%= @user.errors[:name][0] %></td>
      </tr>
      <tr>
        <th><%= f.label :gender, "Gender" %></th>
        <td><%= f.select :gender,options_for_select([["Male","0"],["Fmale","1"]],@user.gender)%></td>
      </tr>
      <tr>
        <th> <%= f.label :address, :Address	%></th>
        <td> <%= f.text_field :address %></td>
        <td width='40%'> <%= @user.errors[:address][0] %></td>
      </tr>
      <tr>
        <th><%= f.label :email, "Email" %></th>
        <td><%= f.email_field :email %></td>
        <td width='40%'> <%= @user.errors[:email][0] %></td>
      </tr>
      <tr>
        <th> <%= f.label :group, 'Group' %></th>
        <td>
          <%= f.select :group, options_for_select([["admin", "admin"], ["company", "company"]],  @user.group)%>
        </td>
      </tr>
      <tbody class="company">
      <tr>
        <th><%= f.label :company, "Company Name" %></th>
        <td> <%= if @user.group == "company" && @user.company_id
                  f.text_field :company, value: @user.company.name
                 else
                  f.text_field :company, value:""
                 end %>
        </td>
        <td width='40%'> <%= @user.errors[:group][0] %></td>
      </tr>
      <tr>
        <th><%= f.label :company_address, "Company Address" %></th>
        <td>
          <%= if @user.group == "company" && @user.company_id
                  f.text_field :company_address, value: @user.company.address
              else
                  f.text_field :company_address, value:""
              end %>
        </td>
      </tr>
      </tbody>
      <tr>
        <th></th>
        <td> <%= f.submit 'Update', class: 'btn_small_blue'%> <%= f.submit 'Reset', type: :reset, class: 'btn_small_blue' %></td>
      </tr>
    </table>
<% end %>

