<script src="http://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/md5.js">
</script>
<%= form_for :user ,url:update_password_user_path do |f| %>
    <table  class="signin_form">
      <tr>
        <th >  <%= f.label :old_password, "Password" %></th>
        <td > <%= f.password_field :old_password %></td>
        <td><span class="error error_pass"></span></td>
      </tr>
      <tr>
        <th >  <%= f.label :password, "New password" %></th>
        <td > <%= f.password_field :password %></td>
        <td><span class="error error_new"></span></td>
      </tr>
      <tr>
        <th><%= f.label :password_confirmation, "Password_confirm" %></th>
        <td><%= f.password_field :password_confirmation %></td>
        <td><span class="error error_pass_confirmation"></span></td>
      </tr>

      <tr>
        <th></th>
        <td><%= submit_tag 'Change Password'%></td>
      </tr>
    </table>
<% end %>