
<%= form_for(@user, url: update_password_user_path(@user)) do |f| %>
    <table width="40%" class="signin_form">
      <tr>
        <th width="30%">  <%= f.label :old_password, "Old password" %></th>
        <td width="70%"> <%= f.password_field :old_password %></td>
      </tr>
      <tr>
        <th width="30%">  <%= f.label :password, "New password" %></th>
        <td width="70%"> <%= f.password_field :password %></td>
      </tr>
      <tr>
        <th><%= f.label :password_confirmation, "Password_confirm" %></th>
        <td><%= f.password_field :password_confirmation %></td>
      </tr>

      <tr>
        <th></th>
        <td><%= submit_tag 'Change Password'%></td>
      </tr>
    </table>
<% end %>