
<div> Create a new Account </div>
<%= form_for(@user) do |f| %>

<table width="60%" class="new_form">
      <tr>
        <th width="15%">   <%= f.label :account, 'Account' %></th>
        <td width="50%"> <%= f.text_field :account %></td>
	<td width='40%'> <%= @user.errors[:account][0] %></td>
      </tr>
      <tr>
        <th><%= f.label :password %></th>
        <td><%= f.password_field :password %></td>
	<td width='40%'> <%= @user.errors[:password][0] %></td>
      </tr>
      <tr>
        <th><%= f.label :password_confirmation,  'Confirmation' %></th>
        <td><%= f.password_field :password_confirmation %></td>
	<td width='40%'> <%= @user.errors[:password_confirmation][0] %></td>
      </tr>
<tr>
        <th><%= f.label :name , 'User name' %></th>
        <td><%= f.text_field :name %></td>
	<td width='40%'> <%= @user.errors[:name][0] %></td>
      </tr>
<tr>
        <th> <%= f.label :address, :Address	%></th>
        <td> <%= f.text_field :address %></td>
	<td width='40%'> <%= @user.errors[:address][0] %></td>
      </tr>
<tr>
        <th> <%= f.label :group, 'Group' %></th>
        <td>
          <%= f.select(:group) do %>
              <% User::GROUP.each do |g| -%>
                  <%= content_tag(:option, g, value: g) %>
              <% end %>
          <% end %>

          <%= f.select(:company_id, options_for_select(Company.get_all_company.collect{|c| [ c.name, c.id ]}),{ :include_blank => false,style: 'display: none'}) %>

        </td>
	<td width='40%'> <%= @user.errors[:group][0] %></td>
      </tr>
      <tr>
        <th></th>
        <td> <%= f.submit 'Sign Up', class: 'btn_small_blue' %> <%= f.submit 'Reset', type: :reset, class: 'btn_small_blue' %></td>
      </tr>
    </table>
<% end %>
<%= link_to 'Back', users_path %>
