<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @traveller.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @traveller.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @traveller.phone %>
</p>

<p>
  <strong>Device:</strong>
  <%= @traveller.device_id %>
</p>

<%= link_to 'Edit', edit_traveller_path(@traveller) %> |
<%= link_to 'Back', travellers_path %>
