<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tour.name %>
</p>

<p>
  <strong>Number of member:</strong>
  <%= @tour.number_of_member %>
</p>

<p>
  <strong>Information:</strong>
  <%= @tour.information %>
</p>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
