<p id="notice"><%= notice %></p>

<h1>Listing Tourguides</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Device</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tourguides.each do |tourguide| %>
      <tr>
        <td><%= tourguide.name %></td>
        <td><%= tourguide.address %></td>
        <td><%= tourguide.phone %></td>
        <td><%= tourguide.device_id %></td>
        <td><%= tourguide.active %></td>
        <td><%= link_to 'Show', tourguide %></td>
        <td><%= link_to 'Edit', edit_tourguide_path(tourguide) %></td>
        <td><%= link_to 'Destroy', tourguide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tourguide', new_tourguide_path %>
