<!DOCTYPE html>
<html>
<head>
  <title>TourismApp</title>
  <%= stylesheet_link_tag    'application'  %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css">
</head>
<body>


<div id="wrapper">
  <!-- header start-->
    <%= render 'layouts/header'%>
  <!-- header end-->

  <div class="breadscrumb">
    <span><%= controller.controller_name.capitalize%></span>
    <%= image_tag 'templates/brk_center.png'%>
    <span><a href="#"><%= controller.action_name.capitalize %></a></span>
    <%= image_tag 'templates/brk_center.png'%>

    </div>
  <!--center start-->
  <div id="center">
    <!--left start-->

    <!--left end-->

    <!--right start-->
    <%= yield %>
    <!--right end-->
    <div class="cl"></div>
  </div>
  <!--center end-->

  <!--footer start-->
  <%= render 'layouts/footer'%>
  <!--footer end-->
</div>



</body>
</html>